@model Coffee.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FIO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FIO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coffee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coffee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiredSince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiredSince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hobbies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hobbies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TGID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TGID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pets)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
